body {
    background-color: blanchedalmond;
    font-family: basiersquare-regular-webfont, Arial, Helvetica, sans-serif;
    margin:0;
}

.background{
    background-image: url("picture/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height:calc(9/16 *100vw);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav {
    font-size: 14px;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 102px;
    width: 100vw;
    z-index: 2;
    font-weight:700;
}

.nav.scrolled {
    background-color: black;
    color:white;
    transition: background-color 200ms linear;
}

.logo-wrapper{
    flex: auto;
    margin-left:2em;
}

.logo {
    height:102px;
    width:102px;
    background-color: brown;
}

nav {
    margin-right:1em;
}

nav ul{
    flex: none;
    display:flex;
    flex-direction: row;
    list-style: none;
}

nav ul li{
    cursor: pointer;
    height:102px;
    padding:0 2em;
    display:flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 1px;
}

nav ul li.active{
    background-color: red;
    color:white;
}

nav ul li:hover{
    background-color: red;
    color:white;
    transition: background-color 800ms, color 800ms;
}

.title{
    width:100vw;
    text-align:center;
    font-size: 5vw;
    letter-spacing: -2px;
    font-weight: 600;
}

main {
    padding: 50px 30px;
}